<!doctype html>
<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8"/>
        <title>MorBook 2.0</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block css_imports %}
        {% endblock %}
    </head>
    <body>
        <div class="navigation-bar">
            {% with request.resolver_match.url_name as url_name %}
                <ul class="nav-list">
                  <li onclick="location='{% url 'index' %}'">Books</li>
                  <li onclick="location='{% url 'about' %}'" class="{% if url_name == 'about' %}active{% endif %}">About</li>
                  <li onclick="location='{% url 'books:create' %}'" class="{% if url_name == 'create' %}active{% endif %}">Create</li>
                </ul>
            {% endwith %}
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    {% block js_imports %}
    {% endblock %}
    </body>
</html>
